@page
@model EmployeeModel
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Сотрудники</h1>
<div>
    @{
        <table class="table table-striped">
            <tr class="table-warning" style="font-weight: bold;">
                @foreach (var item in Model.ShortActiveEmployees)
                {
                    <td>@item.PositionName</td>
                }
                <td>Всего</td>
            </tr>
            <tr>
                @foreach (var item in Model.ShortActiveEmployees)
                {
                    <td>@item.StaffCount</td>
                }
                <td style="font-weight: bold;">@Model.ShortActiveEmployees.Sum(el => el.StaffCount)</td>
            </tr>
        </table>
    }
</div>
<br />
<div style="margin-bottom: 10px;">
    <form action="https://jira.simbirsoft.com/secure/RapidBoard.jspa?rapidView=441&selectedIssue=BACK-1689" target="_blank" style="display: inline-block;">
        <button class="btn btn-primary btn-sm" style="margin-left: 10px;">Jira Сотрудники</button>
    </form>
    <form action="https://jira.simbirsoft.com/secure/RapidBoard.jspa?rapidView=442&quickFilter=1792&quickFilter=1637&quickFilter=1664" target="_blank" style="display: inline-block;">
        <button class="btn btn-primary btn-sm" style="margin-left: 10px;">Jira Потребности</button>
    </form>
    <form action="https://simstat.simbirsoft/commload/employee" target="_blank" style="display: inline-block;">
        <button class="btn btn-primary btn-sm" style="margin-left: 10px;">КЗ сотрудников</button>
    </form>
</div>
<br />
<form method="get" onsubmit="submitForm()">
    <label for="staffStatus" style="margin-left: 10px;">Статус</label>
    @Html.DropDownListFor(m => m.Filter.StaffStatusId, Model.StaffStatus, new { id = "staffStatusId", onChange = "this.form.submit()" })

    <label for="staffArivedStatus" style="margin-left: 10px;">Статус прибытия</label>
    @Html.DropDownListFor(m => m.Filter.StaffArivedStatusId, Model.StaffArivedStatus, new { id = "staffArivedStatusId", onChange = "this.form.submit()" })

    <br />


    <div>
        @{ var index = 0;}
        <table class="table table-striped" style="font-size: 12px;">
            <tr class="table-primary" style="font-weight: bold;">
                <td>№</td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.FullName class="btn btn-link">ФИО</button>
                </td>
                <td>MyTeam</td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.FirstWorkingDate class="btn btn-link">Первый рабочий день</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Position class="btn btn-link">Должность</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Phones class="btn btn-link">Телефон</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Quality class="btn btn-link">Кваллификация</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Values class="btn btn-link">Значимость</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Salary class="btn btn-link">ЗП</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.RevisionDate class="btn btn-link">Пересмотр</button>
                </td>
                <td>Комментарий 1</td>
                <td>Комментарий 2</td>
            </tr>
            @foreach (var row in @Model.Employees)
            {
                var cl = (!row.IsActive) ? "class=table-danger" : (row.RevisionDate.Subtract(DateTime.Now).Days <= 50) ? "class=table-warning" : "";
                index++;

                <tr @cl>
                    <td>@index</td>
                    <td><a href="https://smartstaff.simbirsoft1.com/pages/employee/view.xhtml?id=@row.Id" target="_blank">@row.FullName</a></td>
                    <td><a href="https://u.myteam.simbirsoft.com/profile/@row.Email" target="_blank">MyTeam</a></td>
                    <td>@row.FirstWorkingDate.ToString("dd.MM.yyyy")</td>
                    <td>@row.Position</td>
                    <td>@row.Phones</td>
                    <td>@row.Quality</td>
                    <td>@row.Values</td>
                    <td>@row.Salary.ToString("C")</td>
                    <td>@row.RevisionDate.ToString("dd.MM.yyyy")</td>
                    <td>@row.Comment</td>
                    <td>@row.Comment2</td>
                </tr>

            }

        </table>
    </div>
</form>
<br />