@page
@model InterviewModel
@{
    ViewData["Title"] = "Interview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Сводка по найму</h1>
<br />
<form method="get" onsubmit="submitForm()">
    <label for="year" style="margin-left: 10px;">Год</label>
    @Html.TextBoxFor(m => m.Filter.Year, "", new { type = "number" })
    @Html.CheckBoxFor(m => m.Filter.IsShort, new { id = "isShort", onChange = "this.form.submit()" })
    @Html.LabelFor(m => m.Filter.IsShort, "Сокращенный вид")
    @Html.CheckBoxFor(m => m.Filter.IsSignificant, new { id = "IsSignificant", onChange = "this.form.submit()" })
    @Html.LabelFor(m => m.Filter.IsSignificant, "Показывать только значимые")
</form>
<br />
<table class="table table-striped" style="font-size: 12px;" id="InfoTable">
    <tr class="table-primary" style="font-weight: bold;">
        <td>Месяц</td>
        <td>Направление</td>
        <td>Должность</td>
        <td>Нанято</td>
        <td>Приехало</td>
        <td>Уволено</td>
        <td>Итоговый прирост</td>
        <td>Проведено интервью</td>
        <td>Результативность</td>
    </tr>
    @foreach (var row in @Model.DetailInformationByMonth)
    {
        <tr class="table-info" monthind=@row.Month hiddenprop="true">
            <td>@row.MonthName</td>
            <td></td>
            <td></td>
            <td>@row.IncomingCnt</td>
            <td>@row.ArivedCnt</td>
            <td>@row.FiredCnt</td>
            <td>@row.CulculateCount</td>
            <td>@row.InterviewCnt</td>
            <td>@row.ResultativityCnt %</td>
        </tr>

        var classname = "row" + row.Month.ToString();

        @foreach (var crow in row.Childs)
        {
            <tr class=@classname style="display: none;">
                <td>@crow.MonthName</td>
                <td>@crow.ParentPosition</td>
                <td>@crow.Position</td>
                <td>@crow.IncomingCnt</td>
                <td>@crow.ArivedCnt</td>
                <td>@crow.FiredCnt</td>
                <td>@crow.CulculateCount</td>
                <td>@crow.InterviewCnt</td>
                <td>@crow.ResultativityCnt %</td>
            </tr>
        }
    }

</table>

<script>
    $(".table-info").on("click", function () {
        var monrhInd = $(this).attr("monthind");
        var hiddenprop = $(this).attr("hiddenprop");
        if (hiddenprop === "true") {
            $(".row" + monrhInd).show();
            $(this).attr("hiddenprop", "false");
        } else {
            $(".row" + monrhInd).hide();
            $(this).attr("hiddenprop", "true");
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        LoadSelectFromLocalStorage("isSignificantId", "1");
    });
    function submitForm() {
        SaveSelectToLocalStorage("isSignificantId");
    }
</script>
