@page
@model InterviewModel
@{
    ViewData["Title"] = "Interview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Сводка по найму</h1>

<table class="table table-striped"  style="font-size: 12px;">
    <tr class="table-primary" style="font-weight: bold;">
        <td>Месяц</td>
        <td>Направление</td>
        <td>Должность</td>
        <td>Нанято</td>
        <td>Приехало</td>
        <td>Уволено</td>
        <td>Итоговый прирост</td>
        <td>Проведено интервью</td>
        <td>Результативность</td>
    </tr>
    @foreach (var row in @Model.DetailInformationByMonth)
    {
        var cl = string.IsNullOrEmpty(row.ParentPosition) ? "class=table-warning" : "";
        <tr @cl>
            <td>@row.MonthName</td>
            <td>@row.ParentPosition</td>
            <td>@row.Position</td>
            <td>@row.IncomingCnt</td>
            <td>@row.ArivedCnt</td>
            <td>@row.FiredCnt</td>
            <td>@row.CulculateCount</td>
            <td>@row.InterviewCnt</td>
            <td>@row.ResultativityCnt %</td>
        </tr>
    }

</table>

