@page
@model StaffModel
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Сотрудники</h1>
<div>
    @{
        <table class="table table-striped">
            <tr class="table-warning" style="font-weight: bold;">
                @foreach (var item in Model.ShortActiveStaffs)
                {
                <td>@item.DirectionName</td>
                }
                <td>Всего</td>
            </tr>
            <tr>
                @foreach (var item in Model.ShortActiveStaffs)
                {
                <td>@item.StaffCount</td>
                }
                <td sstyle="font-weight: bold;">@Model.ShortActiveStaffs.Sum(el => el.StaffCount)</td>
            </tr>
        </table>
    }
</div>
<br />
<br />
<form method="get" onsubmit="submitForm()">

    <label for="staffStatus" style="margin-left: 10px;">Статус</label>
    @Html.DropDownListFor(m => m.Filter.StaffStatusId, Model.StaffStatus, new { id = "staffStatusId", onChange = "this.form.submit()" })

    <label for="staffArivedStatus" style="margin-left: 10px;">Статус прибытия</label>
    @Html.DropDownListFor(m => m.Filter.StaffArivedStatusId, Model.StaffArivedStatus, new { id = "staffArivedStatusId", onChange = "this.form.submit()" })

    <label for="directionId" style="margin-left: 10px;">Направление</label>
    @Html.DropDownListFor(m => m.Filter.DirectionId, Model.Directions, new { id = "directionId", onChange = "this.form.submit()" })

    <br />

    <div>
        @{ var index = 0;}
        <table class="table table-striped" style="font-size: 12px;">
            <tr class="table-primary" style="font-weight: bold;">
                <td>№</td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.FullName class="btn btn-link">ФИО</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Birthday class="btn btn-link">День рождения</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.FirstWorkingDate class="btn btn-link">Первый рабочий день</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.NotActiveDate class="btn btn-link">Последний рабочий день</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Position class="btn btn-link">Должность</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Direction class="btn btn-link">Направление</button>
                </td>
                <td>
                    <button type="submit" name="Filter.SortOrder" value=@Model.Sort.Phones class="btn btn-link">Телефон</button>
                </td>
            </tr>
            @foreach (var row in @Model.Staffs)
            {
                var cl = (!row.IsActive) ? "class=table-danger" : (row.IsArived) ? "class=table-info" : "";
                index++;

            <tr @cl>
                <td>@index</td>
                <td><a href="https://smartstaff.simbirsoft1.com/pages/employee/view.xhtml?id=@row.Id" target="_blank">@row.FullName</a></td>
                <td>@row.Birthday?.ToString("dd.MM.yyyy")</td>
                <td>@row.FirstWorkingDate.ToString("dd.MM.yyyy")</td>
                <td>@row.NotActiveDate?.ToString("dd.MM.yyyy")</td>
                <td>@row.Position</td>
                <td>@row.Direction</td>
                <td>@row.Phones</td>
            </tr>

            }

        </table>
    </div>
</form>